//==========markup page==================
html,
body {
	height: 100%;
	background-color: rgb(47, 47, 47);
	color: white;
	font-size: 24px;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	min-height: 40px;
	border: 2px solid black;
	background-color: rgb(61, 61, 107);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
}

main {
	flex: 1 1 auto;
}

footer {
	min-height: 40px;
	border: 2px solid black;
	background-color: rgb(79, 113, 72);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
}

//=========tehnical classes===============
._ibg {
	position: relative;

	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

._container {
	max-width: 1230px;
	margin: 0 auto;
}

//===========general========
.title {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

//===========page===========
.wrapper {}

.page {

	// .page__text

	&__text {}

	// .page__gallery

	&__gallery {}

	// .page__articles

	&__articles {}
}

.text {

	&__container {}

	&__body {
		border: 2px solid black;
		background-color: rgb(134, 56, 56);
		padding: 30px 15px;
		margin: 0 20px;
		font-size: 34px;
	}

	// .text__title

	&__title {}

	// .text__content

	&__content {}
}

.gallery {


	&__container {}

	// .gallery__body

	&__body {
		border: 2px solid black;
		background-color: rgb(129, 65, 105);
		margin: 0 20px;
		padding: 30px 15px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 20px;
	}

	// .gallery__item

	&__item {
		height: 200px;
		border: 1px solid white;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 5px solid rgba(255, 255, 255, .1);
			border-top: 5px dotted rgba(255, 255, 255, 1);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: animate 1s infinite linear;
		}

		@keyframes animate {
			0% {
				transform: translate(-50%, -50%) rotate(0deg);
			}

			100% {
				transform: translate(-50%, -50%) rotate(360deg);
			}
		}
	}
}

.articles {

	// .articles__title

	&__title {
		margin-bottom: 30px;
	}

	// .articles__body

	&__body {
		border: 2px solid black;
		background-color: rgb(172, 157, 69);
		margin: 0 20px;
		padding: 30px 15px;
	}

	// .articles__article

	&__article {
		padding: 20px 15px;
		border: 2px dotted white;
		font-size: 26px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}